<include file="./Application/Admin/View/Public/header.html" />
    <div class="content">
        
        <div class="header">
            
            <h1 class="page-title">Users</h1>
        </div>
        
        <ul class="breadcrumb">
            <li><a href="index.html">Home</a> <span class="divider">/</span></li>
            <li class="active">Users</li>
        </ul>
    
        <div class="container-fluid">
            <div class="row-fluid">
                    
                <div class="btn-toolbar">
                    <a href=""><button class="btn btn-primary"><i class="icon-plus"></i> New User</button></a>
                    <button class="btn">Import</button>
                    <button class="btn">Export</button>
                  <div class="btn-group">
                  </div>
                </div>
                <div class="well">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>学生姓名</th>
                                <th>任务类型</th>
                                <th>完成情况</th>
                                <th>任务内容</th>
                                <th>开始时间</th>
                                <th>计划结束时间</th>
                                <th>项目说明</th>
                                <th>目标得分</th>
                                <th>老师给分</th>
                                <th style="width: 80px;"></th>
                            </tr>
                        </thead>
                        
                      <tbody>
                      		<foreach name="list" item="vo" > 
                            <form class="form-inline" method="post" action="__MODULE__/Verifying/do_verifying/task_id/<{$vo.task_id}>">
                            	<tr>
                                   <neq name="vo.student_name" value="$var">
                                    	<td ><{$vo.student_name}></td>
                                    <else/>
                                    	<td> </td>
                                    </neq>
                                    <assign name="var" value="$vo.student_name" />                                   
                                    <td><{$vo.type_name}></td>
                                    <td><{$vo.percent}></td>
                                    <td><{$vo.content}></td>
                                    <td><{$vo.date_time1}></td>
                                    <td><{$vo.time_plan}></td>
                                    <td><{$vo.instruction}></td>
                                    <td><{$vo.grade}></td>
                                    <td>
                                    	 <input  name="task_grade" placeholder="得分" value="<{$vo.grade}>" id="appendedInputButton" type="text">
                                    </td>
                                    <td>
<!--                                     	<input  name="task_status" value="1" style="DISPLAY:none;" id="appendedInputButton" type="text">-->
                                    	<button class="btn"  type="submit">确定</button>
                                    </td>
                                </tr>
                                </form>
 	                         </foreach>
                      </tbody>
                    </table>
                    
                </div>
                <div class="pagination">
                    <ul>
                        <li><a href="#">Prev</a></li>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">Next</a></li>
                    </ul>
                </div>
    
                <div class="modal small hide fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h3 id="myModalLabel">Delete Confirmation</h3>
                    </div>
                    <div class="modal-body">
                        <p class="error-text"><i class="icon-warning-sign modal-icon"></i>Are you sure you want to delete the user?</p>
                    </div>
                    <div class="modal-footer">
                        <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
                        <a class="btn btn-danger" id="delete"  >Delete</a>
                    </div>
                </div>
    
    
                    
                <footer>
                    <hr>
                    
                    <p class="pull-right">Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a></p>
                    
    
                    <p>&copy; 2012 <a href="#" target="_blank">Portnine</a></p>
                </footer>
                    
            </div>
        </div>
    </div>
    

	
    <script src="__ROOT__/public/lib/bootstrap/js/bootstrap.js"></script>
    <script type="text/javascript">
        $("[rel=tooltip]").tooltip();
        $(function() {
            $('.demo-cancel-click').click(function(){return false;});
        });
        
        function model(id)
        {
        		$("#delete").attr('href','__MODULE__/Task/delete_task/task_id/'+id);
        }
    </script>
    
  </body>
</html>

